.navigation {
   background-color: #f2f4f6;
   .navigation_header {
      display: flex;
      width: 100%;
      position: sticky;
      top: 10px;
      .navigation_header_ul {
         display: flex;
         flex-direction: row;
         align-items: center;
         .navigation_header_ul_li {
            padding: 5px;
            line-height: 20px;
            font-weight: 300;
            letter-spacing: 0.5px;
            text-align: left;
            margin-right: 10px;
            a {
               font-weight: 300;
               letter-spacing: 0.5px;
               text-align: left;
               font-size: 1em;
               text-decoration: none;
               color: black;
               &:hover {
                  color: #1f6c9f;
                  font-weight: bold;
               }
            }
         }
      }
      &_logo {
         width: 100%;
         max-width: 100px;
         min-width: 100px;
      }
   }
   .nav-min-list {
      li {
         a {
            font-weight: 600;
            letter-spacing: 0.5px;
            text-align: left;
            font-size: 1em;
            text-decoration: none;
            color: black;
            &:hover {
               color: #1f6c9f;
               font-weight: bold;
            }
         }
      }
   }
}
