.index-wrap {
   background-color: #f2f4f6;
   min-height: inherit;
   .index-header-img {
      position: relative;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
         width: 50vw;
         @media screen and (max-width: 768px) {
            width: 80vw;
         }
      }
   }
   .index-header-large-txt {
      color: black;
      font-size: 4.0625em;
      line-height: 72px;
      font-weight: 600;
      letter-spacing: 0.5px;
      margin-top: 20px;
      margin-bottom: 25px;
   }
   .index-header-small-txt {
      color: #8e929b;
      font-size: 1.125em;
      line-height: 28px;
      box-sizing: border-box;
      margin-bottom: 10px;
      font-weight: 500;
   }
}
